/** tailwind.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: SolanoGothic;
    src: url(./assets/fonts/SolanoGothic/SolanoGothicMVBStd-Bd.otf);
  }

  @font-face {
    font-family: Roboto Mono;
    src: url(https://fonts.googleapis.com/css?family=Roboto Mono);
  }
}

@layer utilities {
  .shadow-solid-primary {
    box-shadow: 10px 10px;
    color: #000000;
  }
}

